/* font */
@font-face {
  font-family: 'tg_praktikalmedium';
  src: url('tegami_type_-_tg_praktikal_medium-webfont.woff2') format('woff2'),
       url('tegami_type_-_tg_praktikal_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
    margin-left: 30px;
    width: 800px;
}

/* text formatting */
text {
    font-family: ff-real-text-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    fill: #afafae;
}

.numbers {
  font-family: ff-real-headline-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  fill: #808285;
}

h2 {
    font-family: 'tg_praktikalmedium';
    font-weight: normal;
    color: #1A135C;
    margin-bottom: 30px;
}


h3 {
    font-family: 'tg_praktikalmedium';
    font-weight: normal;
    color: #1A135C;
    margin-bottom: 80px;
    width: 500px;
}

.footnote {
    color: #808285;
    font-weight: normal;
    font-family: ff-real-text-pro, sans-serif;
    font-size: 12px;
    padding-top: 0;
    margin: 0px 50px 60px auto;
    text-align: left;
}

/* axes formatting */
.xAxis path,
.xAxis line,
.yAxis path,
.yAxis line {
    stroke: none;
}

/* line formatting */
.line {
    fill: none;
    stroke-width: 2.5;
}


hr {
    border: none;
    height: 1.2px;
    /* Set the hr color */
    color: #808285; /* old IE */
    background-color: #808285; /* Modern Browsers */
    margin-bottom: 10px;
}

.headline {
  max-width: 500px;
  height: 1.6px;
  margin: 0px;
  color: #1A135C; /* old IE */
  background-color: #1A135C;
}

/* html tooltip formatting*/
#tooltip3,
#tooltip6 {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.hidden {
    display: none;
}

#tooltip3 p,
#tooltip6 p {
    margin: 0;
    color: #afafae;
    font-family: ff-real-text-pro, sans-serif;
    font-size: 12px;
    line-height: 20px;
}

/* Clicking behaviour */
.unclickable {
    pointer-events: none;
}